@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: #f8e9ed;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    margin: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.texto {
    width: 280px;
    height: 40px;
    color: rgb(0, 0, 0);
    display: flex;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: small;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    text-align: center;
    padding: 0.5em;
    text-decoration: underline;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.total {
    width: 5em;
    margin-top: 9px;
    margin-left: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #f8e9ed;
    border-bottom: solid 2px black;
    font-size: 1em;
    outline: none;
}

button {
    width: 200px;
    height: 53px;
    border: none;
    color: white;
    background: rgb(212, 31, 31);
    background: linear-gradient(0deg, rgba(212, 31, 31, 1) 26%, rgba(141, 25, 28, 1) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);    
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
    justify-content: center;
}

button:hover {
    background: linear-gradient(0deg, rgb(126, 18, 18) 26%, rgba(141, 25, 28, 1) 100%);
}

.cabecalho {
    position: fixed; /* Adicionando esta linha */
    top: 0; /* Adicionando esta linha */
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;          
    background: rgb(212,31,31);
    background: linear-gradient(0deg, rgba(212,31,31,1) 26%, rgba(141,25,28,1) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
}